@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

@font-face {
  font-family: "Myriadpro";
  src: url(/assets/font/MYRIADPRO-REGULAR.woff) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Myriadpro";
  src: url(/assets/font/MYRIADPRO-SEMIBOLD.woff) format("truetype");
  font-weight: bolder;
}

/* start reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* end reset*/

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 100%;
  background-color: #f4f7fa;
}

.fa-solid {
  color: #647d80;
}

.header-title {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.header-menu {
  list-style: none;
  padding: 0;
  display: flex;
}

.header-menu > li {
  padding-left: 1rem;
}

.layout-sidebar-container {
  height: 100%;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.layout-sidebar-items {
  display: grid;
}

.layout-sidebar-items {
  text-align: center;
  width: 100%;
  padding: 16px;
  height: 100px;
}

.layout-sidebar-items.active {
  background-color: #72cdd2;
}

.layout-sidebar-items-icon.active {
  color: white;
}

.layout-sidebar-items-title.active {
  color: white;
  font-weight: 500;
}

.layout-sidebar-items-icon {
  width: 30px;
}

.layout-sidebar-items-link,
.layout-sidebar-stacked-link {
  text-decoration: none;
}

.layout-sidebar-menu-stacked {
  position: absolute;
  left: 110px;
  height: 100%;
  background-color: #282c37;
  z-index: 1;
  width: 250px;
  padding: 0 14px;
}

.layout-sidebar-items-stacked {
  color: white;
}

.layout-sidebar-items-title {
  color: #697c84;
}

.side {
  display: none;
}

.side.active {
  display: initial;
  position: absolute;
  right: 0;
  top: 100px;
  width: 250px;
  height: calc(100vh - 100px);
  background-color: #313541;
}

.side-image {
  display: block;
  width: 250px;
  height: 172px;
}

.side-title {
  background-color: #72cdd2;
  padding: 10px 24px;
  font-size: 20px;
  color: white;
  font-family: "Myriadpro", sans-serif;
}

.side-desc-container {
  background-color: #313541;
  padding: 16px 24px;
  color: #9b9b9e;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.side-desc {
  margin-bottom: 8px;
}

.side-footer a {
  color: #9b9b9e;
}

.layout-sidebar-stacked {
  padding: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.layout-sidebar-stacked-filter {
  padding: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 100px;
  display: flex;
  align-items: center;
}

.filter {
  color: #697c84;
}

#map {
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "nav sub head"
    "nav sub main"
    "nav sub main";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 110px 250px 1fr;
}

.page > header {
  grid-area: head;
}

.page > nav {
  grid-area: nav;
  background-color: #313541;
}

.page > main {
  grid-area: main;
}

.markerLabel {
  background-color: #313541;
  position: absolute;
  top: 18px;
  padding: 10px;
  font-family: "Myriadpro", sans-serif;
  font-weight: 500;

  /* mask: radial-gradient(
        var(--r1, 100%) var(--r2, 95%) at right,
        white 79.5%,
        transparent 80%
      )
      top left,
    radial-gradient(
        var(--r1, 100%) var(--r2, 95%) at left,
        transparent 79.5%,
        white 80%
      )
      top center,
    radial-gradient(
        var(--r1, 100%) var(--r2, 9%) at right,
        white 79.5%,
        transparent 80%
      )
      top right; */
}

.markerLabelClick {
  background-color: #92d72e;
  position: absolute;
  top: -25px;
  padding: 10px;
  height: 87px;
  font-family: "Myriadpro", sans-serif;
}
